@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 40px;
    border-radius: 50px 0 50px 0;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease-in-out;
}
.container:hover{
    transform: scale(1.05);
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

h1:hover {
    transform: scale(1.1);
}

p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.6;
}

.rounded-image {
    width: 100%;
    max-width: 250px;
    border-radius: 50px 0 50px 0; 
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); 
}


